<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue Email List</title>
</head>
<body>

    <div id="app" v-cloak>

        <p
            v-if="isLoading() === true"
        >
            Caricamento lista email...
        </p>

        <ul
            v-else
        >
            <li
                v-for="email in emails"
            >
                {{ email }}
            </li>
        </ul>

    </div>


    <!--inclusion js-->

        <!--vue-->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--axios-->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!--main.js-->
        <script src="./js/main.js" type="text/javascript"></script>

    <!--inclusion js-->

</body>
</html>